@import url('https://fonts.cdnfonts.com/css/jokerman');

#symbol{
    width: 180px;
    height: 180px;
   margin-top: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
    float: right;
    margin-right: 32%;
    margin-top: 5%;
}
.name{
    margin-top: 5%;
    font-family: 'Jokerman', sans-serif;
    margin-left: 32%;
    color: white;
    font-size: 4rem;
    margin-bottom: 3%;
}

.menu{
    display: flex;
    margin: 4px auto;
    width: 30%;
    height: 10vh;
    border-radius: 20px;
    border: 9px solid #394384;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold; 
    background: linear-gradient(#7A87DF, #808FEF);
    box-shadow:  0px 4px 4px rgba(255, 255, 255, 0.1);
    transition: transform ease-in-out 0.3s;
}

.menu:hover{
    transform: scale(1.05);
    background:rgb(67, 67, 186);
}
